@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Light Mode Variables */
  --background: #f8fafc;
  --foreground: #1e293b;
  --primary: #2563eb;
  --secondary: #475569;
  --card-bg: #e2e8f0;
  --card-border: #cbd5e1;
  --span-bg: #e6f0ff;
  --span-text: #6c7c93;
  --project-bg: #00bfff;
  --project-text: #000000;
  --project-hover: #00ffbf;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Dark Mode Variables */
    --background: #121826;
    --foreground: #f8fafc;
    --primary: #3b82f6;
    --secondary: #94a3b8;
    --card-bg: #1e293b;
    --card-border: #334155;
    --span-bg: #003d99;
    --span-text: #ebfafa;
    --span-hover: #8000ff;
    --project-bg: #0066ff;
    --project-text: #ffffff;
    --project-hover: #8000ff;

  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  transition: background-color 0.3s ease, color 0.3s ease;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  margin: 0.5em 0;
  color: var(--foreground);
}

.button {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  background-color: var(--button-bg);
  color: var(--button-text);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.button:hover {
  background-color: var(--button-hover); /* Darker blue */
  transform: scale(1.05);
}

/* Section Styling */
.summary, .section {
  background-color: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 0.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.section-header {
  color: var(--foreground);
}

.section-content {
  font-size: 1rem;
  color: var(--secondary);
}

/* Footer */
.footer {
  padding: 1rem 0;
  background-color: var(--card-bg);
  text-align: center;
  border-top: 1px solid var(--card-border);
  color: var(--secondary);
}

.footer-link {
  color: var(--primary);
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}

.project-link {
  background-color: var(--project-bg);
  color: var(--project-text);
}

.project-link:hover {
  background-color: var(--project-hover);
}

span {
  background-color: var(--span-bg);
  color: var(--span-text);
}